<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
</head>
<body>
    <h1>Property Details</h1>
    <div>
        <h2>{{ property.name }}</h2>
        <p><strong>Address:</strong> {{ property.address }}</p>
        <p><strong>Location:</strong> {{ property.location }}</p>
        <p><strong>Features:</strong>{{property.Features}}</p>
        </table>
    </div>
</body>
</html>